<ion-view view-title="Binger">
  <ion-content>
    
  	<div class="restaurant-name">
    	<h2 align="center">{{currentResult.restaurantName}}</h2>
	  </div>
    <!---->

    <img class="full-image" src="{{photo}}" on-swipe-left="next()" on-swipe-right="go('app/restaurantDetailScreen')">
    
		<div class="restaurant-info">
			<p align="center">{{currentResult.address}}<p>
		</div>
  
		<div class="row row-bottom">
		  <div class="col col-20 col-offset-20">
		  	<button class="button button-assertive button-circle ion-close" ng-click="next()">
		  	</button>
		  </div>

		  <div class="col col-20 col-offset-20">	 
		   	<button class="button button-balanced button-circle ion-checkmark" ng-click="go('app/restaurantDetailScreen')">
				</button>
			</div>
		</div>

	</ion-content>	
</ion-view>