<ion-view view-title="Binger">
  <ion-content>
    <h1>Binger</h1>
	  </br>
	  </br>
    
    <img class="full-image" src="/img/food2.jpg">
    
		<p align="center">Tasty eggrolls!<p>
  
		<div class="row row-bottom">
		  <div class="col col-20 col-offset-20">
		  	<button class="button button-assertive button-circle ion-close">
		  	</button>
		  </div>

		  <div class="col col-20 col-offset-20">	 
		   	<button class="button button-balanced button-circle ion-checkmark" ng-click="go('app/restaurantDetailScreen')">
				</button>
			</div>
		</div>

	</ion-content>	
</ion-view>