<ion-view view-title="Binger">
  <ion-content class="screen-color">
    
  	<div class="restaurant-name">
	  </div>
	  
    <img class="photo-size" src="{{currentResult.image}}" on-swipe-left="next()" on-swipe-right="visit('app/restaurantDetailScreen')">

  	</br></br></br></br>
  
		<div class="button-centered"
			<p>
		  	<button class="button button-assertive button-circle ion-close" ng-click="next()">
		  	</button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		   	<button class="button button-balanced button-circle ion-checkmark" ng-click="visit('app/restaurantDetailScreen')">
				</button>
			</p>
		</div>
		

	</ion-content>	
</ion-view>