<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-clipboard" menu-toggle="right">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close ng-click="go('app/deals')">
          Deals
        </ion-item>
        <ion-item menu-close ng-click="go('app/settings')">
          Settings
        </ion-item>
        <ion-item menu-close ng-click="go('app/tutorial')">
          Tutorial
        </ion-item>
        <ion-item menu-close>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">List</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
      <!-- add buttons in list screen -->
        <ion-item>
          Photo 1
        </ion-item>
        <ion-item>  
          Photo 2         
        </ion-item>
        <ion-item>
          Photo 3 
        </ion-item>
        <ion-item>
          Photo 4
        </ion-item>
        <ion-item>
          Photo 5 
        </ion-item>
        <ion-item>
          Photo 6 
        </ion-item>
        <ion-item>
          Photo 7 
        </ion-item>
        <ion-item>
          Photo 8 
        </ion-item>
        <ion-item>
          Photo 9 
        </ion-item>
        <ion-item>
          Photo 10 
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>