<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-assertive">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-clear ion-ios-information-outline" style="font-size:16px" ng-click="openTutorial()" menu-toggle="">
          Help
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon ion-clipboard" menu-toggle="right">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-dark">
      <h1 class="title">List</h1>

      <button class="button button-assertive button-trashcan ion-ios-trash-outline" ng-click="showDelete = !showDelete">
         Delete
      </button>
    </ion-header-bar>
    <ion-content>  
      <ion-list show-delete="showDelete">
        <ion-item ng-repeat="pics in items " class="item-thumbnail-left" ng-click="reVisit('app/restaurantDetailScreen',{{pics}})" menu-toggle="right">
          <img ng-src="{{pics.image}}">
          <h2>{{pics.restaurantName}}</h2>

          <ion-delete-button class="ion-ios-trash-outline" ng-click="onItemDelete($index)">
          </ion-delete-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>