<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-assertive">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-dark ion-ios-information-outline" style="font-size:25px" ng-click="openTutorial()" menu-toggle="">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon ion-clipboard" menu-toggle="right">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-dark">
      <h1 class="title">List</h1>

      <button class="button button-assertive button-trashcan ion-ios-trash-outline" ng-click="items.splice($index)">
         Delete All
      </button>
    </ion-header-bar>
    <ion-content>  
      <ion-gallery ion-gallery-items="items" ion-gallery-row="2"></ion-gallery>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>