<ion-view view-title="Restaurant Detail">
  <ion-content>
  	</br>
	  </br>
    
    <img class="full-image" src="/img/food2.jpg">
    
		<p align="center">Tasty eggrolls!<p>

	  <div class="button-centered">
		  <button class="button-stable" ng-click="openMaps()">
		    Directions
			</button>
			<br/>
			<br/>

		  <button class="button-stable">
		    Add to Queue
			</button>
			<br/>
			<br/>

		  <button class="button-stable" ng-click="go('app/mainScreen')">
		    Cancel
			</button>
		</div>

  </ion-content>
</ion-view>