.button-circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: fixed;
  bottom: 80px;
}
.screen-color {
	background-color:#eeeeee;
}

.button-pill {
	width: 135px;
	height:40px;
	border-radius: 30px;
	font-size: 15px;	
}

.button-centered {
	text-align: center;
}

.restaurant-name {
	height: 100px;
}

.restaurant-info {
	height: 30px;
}

.photo-size {
	height: 310px;
	width: 412px;
}

.button-trashcan {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	position: fixed;
	bottom: 80px;
	left: 40%;
	font-size: 30px;
}