.button-circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.screen-color {
	background-color:#eeeeee;
}

.button-pill {
	width: 135px;
	height:40px;
	border-radius: 30px;
	font-size: 15px;	
}

.button-centered {
	text-align: center;
}

.restaurant-name {
	height: 80px;
}

.restaurant-info {
	height: 40px;
}

.photo-size {
	height: 290px;
	width: 412px;
}

.button-trashcan {
	border-radius: 30px;
	position: fixed;
	bottom: 10%;
	right: 20%;
	font-size: 20px;
}

.yelp-pic {
	height: 40px;
	width: 80px;
	position: fixed;
	right: 1%;
}

.tutorial-screen {
	opacity: 0.9;
	background-color: gray;
}

.left {
	float: left;
	position: relative;
	margin-left: 10px;
  width: 164px;
}

.right {
	float: right;
	position: relative;
	text-align: left;
	margin-right: 10px;
	width: 164px;
}

.font-style {
	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
}

.arrow-size {
	font-size: 50px;
	text-align: center;
}