.button-circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: fixed;
  bottom: 80px;
}

.button-centered {
	text-align: center;
}

.restaurant-name {
	height: 120px;
}

.restaurant-info {
	height: 30px;
}